:root {
    --brand-green-primary: #007A3D
}

body {
    font-family: 'Almarai';
    font-size: 16px;
}

.active {
    border-bottom: 2px solid #000;
}


.btn-primary {
    border-radius: 8px;
    border: 1px solid var(--brand-green-primary);
    background: var(--brand-green-primary) !important;
}

.btn-outline-primary {
    border-radius: 8px;
    border: 1px solid var(--brand-green-primary) !important;
    color: var(--brand-green-primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--brand-green-primary);
    border-color: #fff;
}

.text-primary {
    color: var(--brand-green-primary) !important;

}