#logo {
    background: linear-gradient(90deg, #f60202 33.33%, #100404 33.33%, #100404 66.66%, #39af0b 66.66%, #3c652c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

nav.nav {
    text-align: right;
}

nav.nav a {
    color: #333; /* Change link color */
    margin-left: 20px;
}

/* Style the "Menu" button in the header */
.btn.btn-primary[data-bs-toggle="collapse"] {
    background-color: #007bff; /* Change button color */
    border-color: #007bff;
}

/* Add padding to the "Menu" button */
.btn.btn-primary[data-bs-toggle="collapse"] {
    padding: 10px 20px;
    font-size: 1rem;
}