.main-text-container {
    flex: 0 0 27%;
}

.main-image-container {
    flex: 0 1 73%;
}

.main-image-container img {
    height: 100vh;
}

h1.main-text-header {
    line-height: 66px;
    /* 165% */
}


section {
    height: 100vh;
    padding-top: 60px;
}