{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% block about_us %}
    <section class="d-flex flex-column-reverse flex-md-row position-relative">
        <div class="d-flex flex-column justify-content-end main-text-container position-absolute w-100 h-100">
            <div class="text-content py-4">
                <h1 class="text-primary main-text-header ps-5 pe-4 ">
                    {% trans "Who we are" %} ؟
                </h1>

                <p class="px-3 mt-5 ">
                    {% trans "Our project is a support for the original Campaign On Twitter" %}
                <p class="px-3 mt-3 ">
                    <b> {% trans "What is the campaign" %} ؟</b>
                </p>

                <p class="px-3 mt-3 ">
                    {% trans "An awareness campaign aimed at stopping the aggression on Gaza and lifting the blockade through exposing Zionist media manipulation by posting tweets in English on Twitter and revealing the facts to the Western and Arab world about what is happening in Gaza" %}
                </p>

            </div>
        </div>
        <div class="main-image-container">
            <img class="w-100" style="height:100vh" src="{% static '/images/about-us-cover.jpg' %}" alt="Image"/>
        </div>
    </section>
{% endblock %}
