{% load i18n %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% trans "Resist" %}</title>
    <link href='https://fonts.googleapis.com/css?family=Almarai' rel='stylesheet'>
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <link href="{% static '/css/index.css' %}" rel="stylesheet">
    <link href="{% static '/css/header.css' %}" rel="stylesheet">
    <link href="{% static '/css/about_us.css' %}" rel="stylesheet">
</head>
<body dir="rtl">
{% include 'header.html' %}
{% block content %}
    {% block welcome_page %}

    {% endblock %}
    {% block login_page %}

    {% endblock %}
    {% if user.is_authenticated %}
        {% block post_to_twitter %}

        {% endblock %}
    {% endif %}
    {% block about_us %}

    {% endblock %}
{% endblock %}
</body>
</html>