{% extends 'base.html' %}
{% block welcome_page %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                حياكم الله جميعاً هُنا حملة إعلامية على تويتر ضد الإعلام الغربي لكشف تزييفه للحقائق.
                مادة النشر ستكون بلغات أجنبية، مطلوب منكم تسجيل حسابكم معنا لنقوم بالتغريد نيابة عنكم
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            {% if not user.is_authenticated %}
                <a href="{% url 'post:login' %}" class="btn btn-primary">قــاوم </a>
            {% else %}
                <a href="#" class="btn btn-primary">ســجل حسابك الآن </a>
            {% endif %}
        </div>
    </div>
{% endblock %}