{% extends 'base.html' %}
{% load i18n %}
{% block welcome_page %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                {% trans "Welcome, everyone. Here is a Twitter awareness campaign against Western media to expose its distortion of the facts. The content will be in foreign languages. We ask you to register your account with us so that we can tweet on your behalf." %}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'post:login' %}" class="btn btn-primary">{% trans "Resist" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}