{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block welcome_page %}
    <section class="d-flex flex-column-reverse flex-md-row">
        <div class="d-flex flex-column main-text-container py-5">
            <h1 class="text-primary main-text-header ps-5 pe-4 ">
                {% trans "In support of Palestine Resist as much as you can" %}
            </h1>
            <p class="px-3 mt-5 h6">
                {% trans "Resist it's an awareness campaign on" %}
                <u><b>{% trans "Twitter" %}</b></u>
                {% trans "that springs from the depths of our hearts to change the narrative and expose deception" %}
            </p>

            <p class="px-3 mt-3 h6">
                {% trans "If you're ready to participate in this effort" %}
                <u><b>{% trans "you have the opportunity now" %}</b></u>
            </p>

            <p class="px-3 mt-3 h6">
                {% trans "Join us by clicking the button below Resist" %}
                <b>{% trans "and we will share the facts in your voices in foreign languages to make the world hear us" %}</b>
            </p>

            <p class="px-3 mt-3 h6">
                {% trans "Get started and be a part of this creative campaign" %}
            </p>

            <div class="px-3 mt-3 h6">
                <table class="d-flex text-primary">
                    <tbody>
                    <tr>
                        <td class="ps-4"><p>{% trans "Number of Resistants" %} :</p></td>
                        <td><p>{{ resistants_count }}</p></td>
                    </tr>
                    <tr>
                        <td><p>{% trans "Number of tweets" %} :</p></td>
                        <td><p>{{ tweets_count }}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if not request.user.is_authenticated %}
                <a href="./login.html" class="btn btn-primary mx-3 align-self-start px-4">
                    {% trans "Resist" %}
                    <img src="{% static '/images/twitter.svg' %}" width="15px" alt="" srcset="">
                </a>
            {% endif %}
        </div>
        <div class="main-image-container">
            <img class="w-100" src="{% static '/images/main-page.png' %}" alt="Image"/>
        </div>
    </section>
{% endblock %}